<!doctype html>
<html>
  <head>
    <title>Socket.IO Chat Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
  </head>

  <body>
  <div class="chat-app-container">
    <!-- Title --> 
    <div class="title" id="chat-page-title">Chat Page</div>
    <!--Logout Button -->
    <div class="button-container">
       <a href="/logout" id="logout-button" class="btn btn-default btn-lg">Logout</a>
    </div>
   <div id="connected_users"> Number of connected users: </div>
    <div class="chat-container"> 
      
      <div>
        <ul id="messages"></ul>
      </div>
      <form action="">
        <input id="message" autocomplete="off" /><button>Send</button>
      </form>    
    </div>
  </div>

<!--     <div class="chat-container">
        <form id="send-message">
          <input size="35" id="message"></input>
         <input type="submit"> </input>
        </form> 
    </div>   
  </div>
 -->

  <!-- Scripts -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <!-- Code for Scripts -->
  <script>
    var socket = io();

    var $messageForm = $('form');
    var $m = $('#message');
    var $users = $('#connected_users');

    socket.on('number users', function (data) {
      $users.html("Number of connected users: " + data);
    })

    $messageForm.submit(function(){
      socket.emit('send message', $m.val());
      $m.val('');
      return false;
    });

    socket.on('new message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });

  </script>

  </body>
</html>