<!doctype html>
<html>
  <head>
    <title>Socket.IO Chat Application</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
  </head>

  <body>
  <div class="chat-app-container">
  <div class="title" id="chat-page-title"> Chat Page</div>
    <div class="button-container">
       <a href="/logout" id="logout-button" class="btn btn-default btn-lg">Logout</a>
    </div>
    <div class="chat-container"> 
        <div>
          <ul id="messages"></ul>
        </div>
        <form action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>    
    </div>

  </div>
    <!-- Scripts -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    <!-- Code for Scripts -->
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    </script>
  </body>
</html>