<!doctype html>
<html>
<head>
	<title> Risamaki Chat Application </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/home.css">
	<!-- A little project made to learn how to use NodeJS --> 
	<!-- Click here to Login --> 
	<!-- Click here to Sign up if you do not have an account yet --> 
</head>
<body>
	<div class="index-container">
		<div class="title"> Chat Application </div>
		<div class="button-container">
			<a href="/login" id="login-button" class="btn btn-default btn-lg">
				<span class="fa fa-user"></span>
				Login Here
			</a>
			<a href="/signup" id="signup-button" class="btn btn-default btn-lg">
				<span class="fa fa-user"></span>
				Signup
			</a>
		</div>
	</div>
</body>
</html>