<!doctype html>
<html>
<head>
  <title> Risamaki Chat Application </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--   <link rel="stylesheet" href="css/home.css"> -->
  <style>
  .title {
  font-size: 3vw;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 12vh;
    padding: 0;
    text-align: center;
    flex: none;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
    .resetpassword-form-container{
    position: absolute;
    margin: auto;
    top: 15%;
    bottom: 1%;
    right: 0;
    left: 0;
    width: 60%;
    height:60%;
    background-color: white;
    border-style: solid;
    border-color: gray;
    overflow: auto;
    text-align: center;
  }
  .resetpassword-form-container .form-control  {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  .reset-form-container form {
    margin-top:5%;
  }

  .alert {
    position:absolute;
    margin:auto;    
    right: 0;
    left: 0;
    width: 60%;
    height:;
  }
  .btn-group-lg>.btn, .btn-lg {
    padding: 20px 32px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
}

.button-container {
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: 2vh;
    margin-left: 2vh;
    padding: 0;
    text-align: center;
    flex: none;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.resetpassword-form-container form {
    margin-top:5%;
}

  </style>
</head>

<body>
  <div class="reset-container">
    <div class="title"> Reset Password </div>
     <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="resetpassword-form-container">
      <form action="" method="post">
        <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" name="newpassword">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword">
        </div>

        <div class="button-container">
            <button id="login-page-button" type="submit" class="btn btn-default btn-lg">Update Password</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>